@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .pulse-animation {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: .5;
      transform: scale(1.05);
    }
  }
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  background-color: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

.skills-parallax {
  background-image: url('/skills-bg-mobile.webp');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .skills-parallax {
    background-image: url('/skills-bg.webp');
  }
}
